@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Work Sans' sans-serif;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 20px;
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-size:100%;
    background-repeat:no-repeat;
    background-color: hsl(275, 100%, 97%);
}

.faq-container{
    width:350px;
    padding:25px;
    background:hsl(0, 0%, 100%);
    border-radius: 10px;
}

.faq-container .faq-header{
    display: flex;
    gap:30px;
    font-size: 20px;
}

.faq-container .faq-header img{
    width: 30px;
}